<div
  class="announcement-bar"
  style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }};"
>
  <div class="announcement-bar__message">
    {{ section.settings.message }}
  </div>
</div>

{% stylesheet %}
  .announcement-bar__message {
    text-align: center;
    padding: 10px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "announcement bar",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "Welcome to Nahid's Development Store!"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Announcement Bar"
    }
  ]
}
{% endschema %}
