<a
  href="https://mnahidislam39.github.io/portfolio"
  target="_blank"
  rel="noopener noreferrer"
  class="text-3xl font-bold text-center"
>
  <h1 class="h-{{section.id}}">{{ section.settings.heading }}</h1>
</a>

{% schema %}
{
  "name": "portfolio template",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Hello Nahid Islam"
    }
  ],
  "presets": [
    {
      "name": "portfolio template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
