{% assign users = 'Alice,Bob,Charlie,david abid,Eve' | split: ',' %}

<h3>All users are:</h3>
{% for user in users %}
  <p>
    {{ user }}
    is
  </p>
{% endfor %}

<a
  href="https://mnahidislam39.github.io/portfolio"
  target="_blank"
  rel="noopener noreferrer"
  class="text-3xl font-bold text-center"
>
  <h3 class="h-{{section.id}}">{{ section.settings.heading }}</h3>
</a>

{% schema %}
{
  "name": "portfolio template",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Visit my portfolio"
    }
  ],
  "presets": [
    {
      "name": "portfolio template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
